<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql:open_lmis"/>
        <property name="username" value="postgres"/>
        <property name="password" value="p@ssw0rd"/>
    </bean>

    <bean id="template" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="ds"/>
    </bean>

    <bean id="productDAO" class="org.openlmis.performancetesting.dao.ProductDAO">
        <constructor-arg ref="template"/>
    </bean>

    <bean id="facilityDAO" class="org.openlmis.performancetesting.dao.FacilityDAO">
        <constructor-arg ref="template"/>
    </bean>

    <bean id="programDAO" class="org.openlmis.performancetesting.dao.ProgramDAO">
        <constructor-arg ref="template"/>
    </bean>

</beans>