<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright © 2013 VillageReach. All Rights Reserved. This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%-4r [%t] %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <logger name="org.springframework.jdbc.core">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.openlmis.performancetesting">
        <level value="INFO"/>
    </logger>

    <root>
        <level value="WARN"/>
        <appender-ref ref="consoleAppender"/>
    </root>
</log4j:configuration>